* {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin: 40px auto;
  background-color: rgba(242, 255, 158, 0.862);
  border: 15px solid green;
}

img {
  display: none;
}

h1 {
  text-align: center;
  margin-top: 15px;
}
